@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geo:ital@0;1&family=Orbitron:wght@400..900&family=Passion+One:wght@400;700;900&family=Science+Gothic:wght@100..900&family=Sixtyfour+Convergence&family=Sriracha&display=swap');

@font-face {
    font-family: 'neon-android';
    src: url('font-neon-android/Neon\ Android.otf') format('opentype'), url('font-neon-android/Neon\ Android\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font1: Bebas Neue, cursive, verdana, sans-serif;
    --font2: neon-android, cursive, verdana, sans-serif;
    --font3: "Science Gothic", cursive, sans-serif;
    --font4: Arial, regular, sans-serif;
    --text-shadow-effect: 1px 1px 3px rgba(255, 215, 0, 0.7), 0 0 25px rgba(255, 215, 0, 0.9);
    --cor1: #230C14;
    --cor2: #590716;
    --cor3: #D91111;
    --cor4: #8C5637;
    --cor5: #98BABC;
    --cor6: #F2EA79;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font3);
    background-color: var(--cor5);
    background-image: url(imgs/zaun.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    color: var(--cor6);
}

header > h1 {
    font-family: var(--font1);
    font-size: 3em;
    padding-top: 40px;
    text-shadow: 3px 3px 5px black;
}

header > p {
    font-family: var(--font4);
    font-size: 1.4em;
    width: 55vw;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 25px;
    text-shadow: 3px 3px 5px black;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

nav {
    background-color: var(--cor2);
    padding-bottom: 8px;
}

nav > ul > li {
    display: inline;
    margin-left: 10px;
}

nav > ul > li > a {
    font-family: var(--font4);
    font-weight: bold;
    color: var(--cor5);
}

main {
    margin: auto;
    width: 63vw;
    background-color: var(--cor6);
    box-shadow: 0px 7px 10px 3px rgba(0, 0, 0, 0.432);
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}

main > section > h2, h3, h4 {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), transparent);
    color: var(--cor6);
    font-family: var(--font2);
    line-height: 2em;
    padding-left: 10px;
    text-shadow: 3px 3px 5px black;
}

main > section > h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

main > section > div > p {
    background-color: #230c14c2;
}

main > section > h3 {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-image {
    height: 600px;
    text-align: center;
}

#stolen {
    background-color: #230c1498;
    color: var(--cor6);
    text-shadow: 3px 3px 5px black;
    font-size: 2em;
}

#partnership {
    background-color: #230c1498;
    color: var(--cor6);
    text-shadow: 3px 3px 5px black;
    font-size: 2em;
}

#glory1 {
    background-image: linear-gradient(to left, transparent, #d9111181);
}

#glory {
    font-family: var(--font2);
    color: var(--cor6);
    font-size: 2em;
    font-weight: bolder;
    line-height: 2em;
    text-shadow: 3px 3px 5px black;
}

#blitzcrank {
    background-image: url(imgs/blitzcrank.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 15px 30px 30px 30px;
}

#jayce {
    background-image: url(imgs/jayce.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 15px 30px 30px 30px;
}

#viktor {
    background-image: url(imgs/Viktor.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 15px 30px 30px 30px;
}

main > section > p, dl {
    color: black;
    font-weight: regular;
    font-size: 1.2em;
    padding: 7px;
    text-indent: 1.5em;
    line-height: 1.5em;
}

aside > p {
    color: black;
    font-weight: regular;
    font-size: 1.2em;
    padding: 7px;
    text-indent: 1.5em;
    line-height: 1.5em;
}

aside {
    margin: auto;
    width: 100%;
}

#filosofia {
    color: black;
    font-weight: normal;
    text-shadow: 1px 1px var(--cor1);
}

#confira {
    margin-bottom: -17px;
}

#video {
    box-sizing: border-box;
    background-color: var(--cor2);
    margin: 22px auto;
    margin-bottom: -1px;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor6);
    margin-top: 40px;
}