@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sixtyfour+Convergence&family=Sriracha&display=swap');

@font-face {
    font-family: 'neon-android';
    src: url('font-neon-android/Neon\ Android.otf') format('opentype'), url('font-neon-android/Neon\ Android\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font1: Bebas Neue, cursive, verdana, sans-serif;
    --font2: neon-android, cursive, verdana, sans-serif;
    --font3: "Sixtyfour Convergence", cursive, sans-serif;
    --font4: Arial, regular, sans-serif;
    --text-shadow-effect: 1px 1px 3px rgba(255, 215, 0, 0.7), 0 0 25px rgba(255, 215, 0, 0.9);
    --cor1: #3E76C0;
    --cor2: #87BCDB;
    --cor3: #C6CDE9;
    --cor4: #F5D183;
    --cor5: #FFFFA1;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    background-color: var(--cor4);
}

header {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    background-image: linear-gradient(to top, var(--cor3), var(--cor2));
    color: var(--cor5);
}

header > h1 {
    font-family: var(--font1);
}

header > p {
    font-family: var(--font4);
}

nav {
    background-color: var(--cor3);
}

nav > ul > a > li {
    display: inline;
    font-family: var(--font4);
    font-weight: bold;
    color: var(--cor4);
}

main {
    margin: auto;
    width: 1100px;
    box-shadow: 0px 7px 10px 3px rgba(0, 0, 0, 0.432);
    padding: 15px;
    text-indent: 1.5em;
    line-height: 1.5em;
}

main > h1, h2, h3 {
    font-family: var(--font2);
    line-height: 1.7em;
    color: var(--cor3);
}

aside {
    margin: auto;
    width: 800px;
}

footer {
    text-align: center;
}